<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naveenkumar.mvpsample">
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".widgets.BMSApplication"
        android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity
            android:name=".view.MovieListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />

            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
    </activity>
</application>
</manifest>
